<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>WSDM Churn Prediction Analysis</title>
</head>

<body>
    <div id="wrapper">
      <%= render "./index/navbar"%>
        <div id="page-wrapper">
          <%=render './index/panel/dashboard_panel'%>
            <div class="row">
                <div class="col-lg-8">
                    <%= render './index/panel/areachart_panel'%>
                    <%= render './index/panel/barchart_panel'%>
                    <%= render "./index/panel/table_panel" %>
                    <%= render './index/panel/timeline_panel'%>
                </div>
                <div class="col-lg-4">
                    <%= render "./index/panel/notification_panel"%>
                    <%= render "./index/panel/donutchart_panel" %>
                    <%= render "./index/panel/chat_panel" %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
